@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}
.container {
    position: absolute ;
    right: 50px;
}

form {
    margin: 1px;
    flex: center;
    width: 300px;
    padding: 100px 0;
    background: rgba(20, 40, 40, .8);
    transition: .2s;
    border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(236, 238, 252, 0.76);
  background-repeat: no-repeat;
  
}

button, input, select, textarea {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(73, 51, 51);
    border-radius: 4px;
  }